.home {
  height: 100vh;
  flex-direction: column;
  display: grid;
  grid-column: 4/ span 12;
  padding: 1.25em 1.25em;
  column-gap: 1.25em;
  row-gap: 1.25em;
  background-color: #ffffff;
  overflow-y: auto;
  box-sizing: border-box; 
  grid-template-columns: repeat(12, 1fr);

}

.chart {
  padding: 1.5em 1.25em;
  background-color: rgba(255, 255, 255, 0.5);
  height: 31.44em;
  grid-column: span 6;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 1.25em;
}

.region-home {
  padding: 1.5em 1.25em;
  height: 31.44em;
  grid-column: span 3;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 1.25em;
  background: linear-gradient(90deg, white, rgba(255, 248, 233, 0.6));
}

.garden {
  /* position: relative; */
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.25em 1.25em;
  height: 38em;
  grid-column: span 9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 1.25em;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.device-home {
  padding: 1.5em 1.25em;
  height: 38em;
  grid-column: span 3;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 1.25em;
  background: linear-gradient(90deg, white, rgba(255, 248, 233, 0.6));
}

.title-electric {
  padding-top: 2em;
  display:flex;
  justify-content: space-between; 
  align-items: center;
}

.room {
  padding: 0.25em 1.25em;
  margin-bottom: 0.75em;
  display:flex;
  justify-content: space-between; 
  align-items: center;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 4px 4px #DBDBDB;

}

.room:hover {
  background-color: rgba(255, 238, 211, 0.89);
}

.gardenChart {
  margin-top: auto;
  height: calc(100% - 15%); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartBar {
  margin-top: auto;
  height: calc(100% - 25%); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.gardenTitle {
  grid-column: span 9;
}

.gardenContent {
  grid-column: 4/ span 6;
  height: 100%;
  padding: 0 1.25em;
}

.gardenContent > div {  
  justify-content: flex-end;
}

.gardenTime {
  grid-column: span 3;
  padding: 0 1.25em 0 0;
}